{% extends "base.html" %}

{% block content %}
  <div class="container">

    <!-- Header -->
  

    <!-- Ad Block -->
    <section class="ad-block">ad-block</section>

     <!-- Last Time Order -->
    <section class="last-order">
      <h3>Last time order</h3>
      <div class="order-grid">
        <div class="order-item"></div>
        <div class="order-item"></div>
        <div class="order-item"></div>
        <div class="order-item"></div>
      </div>
    </section>

    <!-- Circle Menu -->
    <section class="circle-menu">
        <div class="circleBox"><a href="{{ url_for('cow') }}" class="circle cowCircle"></a></div>
        <div class="circleBox"><a href='/' class="circle chickenCircle"></a></div>
        <div class="circleBox"><a href='/' class="circle pigCircle"></a></div>
        <div class="circleBox"><a href='/' class="circle fishCircle"></a></div>
        <div class="circleBox"><a href='/' class="circle truffleCircle"></a></div>
        <div class="circleBox"><a href='/' class="circle sausageCircle"></a></div>
        <div class="circleBox"><a href='/' class="circle cowCircle"></a></div>
        <div class="circleBox"><a href='/' class="circle cowCircle"></a></div>
        <div class="circleBox"><a href='/' class="circle cowCircle"></a></div>
    </section>
    
  </div>
{% endblock %}
